/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
ul li {
  list-style: none;
  cursor: pointer;
  margin: 1em auto;
  color: rgb(66, 66, 228);
  &:hover{
    font-size: 23px;

  }

}
